@model LibraryR.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    @if (ViewBag.Success is not null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.Success
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.Year is not null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Authors.Count > 0)
            {
                var last = Model.Authors.Last();
                @foreach (Author item in Model.Authors)
                {
                    if (item == last)
                    {
                        <a asp-controller="Author" asp-action="Details" asp-route-id="@item.Id">@($"{item.FirstName} {item.LastName}")</a>
                    }
                    else
                    {
                        <a asp-controller="Author" asp-action="Details" asp-route-id="@item.Id">@($"{item.FirstName} {item.LastName}, ")</a>
                    }
                }
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |

    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script>$('.alert').alert()</script>
}
